header{
    color: rgb(168, 100, 16);
}

body{
    text-align: center;
    background-color: rgb(255, 255, 255);
    background-image: url(./space.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

    
}

h3{
    color: rgb(255, 255, 255);
}

label{
    color:rgb(255, 255, 255)
}

a{
    color: rgb(20, 183, 211);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}




*{
    margin: 0;
    padding: 0;
}
source{
    text-align: left;
}