header{
    color: rgb(168, 100, 16);
}

body{
    text-align: center;
    background-color: rgb(253, 253, 253);
    background-image: url(./space.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

    
}

label{
    color:rgb(255, 255, 255)
}

a{
    color: rgb(20, 183, 211);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.imgs {
    
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    clip: rect(71px,1158px,864px,71px);

}



*{
    margin: 0;
    padding: 0;
}
source{
    text-align: left;
}